.DS_Store
/dataset/

/generate_dataset/Audio/
/generate_dataset/Transcripts/
/generate_dataset/dataset/
/generate_dataset/overlap_transcriptions/
/generate_dataset/annotation_template.py
/generate_dataset/dataset-env/

/baseline_model/baseline-model-env/